<div class="m-5">
  <h1>Login</h1>
  <%= form_tag sessions_path do %>
    <%= label_tag :login, "Email Address", :class => 'form-label' %><br />
    <%= text_field_tag :login, "", :class => 'form-control w-25' %><br />
    <%= label_tag :password, "Password", :class => 'form-label' %><br />
    <%= password_field_tag :password, "", :class => 'form-control w-25' %><br />
    <%= submit_tag "Log in", :class => 'btn btn-primary' %>
  <% end %>
</div>
