<div class="m-5">
  <h1>Create new user</h1>
  <%= form_with model: User.new do |form| %>
    <%= label_tag :name, "Name", :class => 'form-label' %><br />
    <%= form.text_field :name, :class => 'form-control w-25' %><br />
    <%= label_tag :email, "Email Address", :class => 'form-label' %><br />
    <%= form.text_field :email, :class => 'form-control w-25' %><br />
    <%= label_tag :password, "Password", :class => 'form-label' %><br />
    <%= form.text_field :password, :class => 'form-control w-25' %><br />
    <%= submit_tag "Create", :class => 'btn btn-primary'%>
  <% end %>
</div>
